:root {
    --block-background: #F6F6F4;
    --muted: #14191A;
    --accent: #EF3B24
}

html, body, #app {
    min-height: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
}