@import 'base.css';
@import "public/fonts/grtsk_exa/stylesheet.css";
@import "../../../node_modules/bootstrap";

h1, .navbar .navbar-title {
  /* Заголовок первого уровня */
  font-family: Grtsk Exa, Roboto, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

h2 {
  font-family: Grtsk Exa, Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.nav-item {
  font-family: Grtsk Exa, Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

p, li {
  font-family: Grtsk Exa, Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}


